img {behavior: url(/javascripts/iepngfix.htc);}
.services-page #scroll-container {
	margin-bottom: -7px;
	padding-bottom: 7px;
}
.services-page #scroll-controls {
	position: absolute;
	bottom: 200px;
	right: 30px;
	width: 17px;
}
div#content {
	min-height: 565px;
	height: auto !important;
	height: 565px;
	padding-top: 15px;
}
.contact-page #content {
	min-height: 525px;
	height: auto !important;
	height: 525px;
}
div#admin-toolbar-container {
	position: absolute;
}