<p>Hello <%=h @contact.name %>,</p>

<p>Congratulations on your upcoming wedding. It's so smart that you are taking the time 
to plan ahead for your wedding photography... This will be such a help to you and 
your photographer on your wedding day. A few minutes of preplanning will help make 
your wedding photography a smooth and fun part of your day. An accurate reflection 
of your photo wish list will ensure that you have memories of the people that matter 
most to you and give your photographer the crucial information required.</p>

<p>Please click on the link below to download this planning guide.  The questions are 
designed to get you thinking about your expectations for your wedding photography 
and providing your photographer with  a quick reference on the big day. Thank you 
for taking the time to make sure all the bases are covered on your wedding day.</p>

<p>Best wishes and congratulations.</p>

<p>Karen Sayre<br />
Eikon Photography<br />
<a href="http://www.eikonphoto.com">www.eikonphoto.com</a></p>

<p><a href="http://eikonphotographer.com/files/Eikon-Photo-Wedding-Photography-Checklist.pdf">http://eikonphotographer.com/files/Eikon-Photo-Wedding-Photography-Checklist.pdf</a></p>