<% if params['controller'] == 'contacts' %>
	<div id="credits">
		website by <a href="http://commandc.com/" target="_blank">COMMAND C</a>
	</div>
<% end %>
All images &amp; text &copy; Eikon Photography <%= Time.now.year %> All rights reserved<br />
Washington DC Photographer, Karen Sayre is an award winning photographer specializing in modern, fresh and inspired images.